container_commands:
    01_collectstatic:
        "command": "python3 codeGamble/manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "codeGamble.settings"
    PYTHONPATH: "/opt/python/current/app/codeGamble:$PYTHONPATH"
    "DJANGO_SECRET_KEY": "update-me"
    "AWS_ACCESS_KEY_ID": "update-me"
    "AWS_SECRET_ACCESS_KEY": "update-me"
    "FACEBOOK_KEY": "update-me"
    "FACEBOOK_SECRET": "update-me"
    "GOOGLE_KEY": "update-me"
    "GOOGLE_SECRET": "update-me"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "codeGamble/codeGamble/wsgi.py"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"