option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "codeGamble.settings"
    PYTHONPATH: "/opt/python/current/app/codeGamble:$PYTHONPATH"
    "key": "value"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "codeGamble/codeGamble/wsgi.py"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "codeGamble/static/"