<!DOCTYPE html>
{% load staticfiles %}
<html>
   <head lang="en">
       <title>CodeMaze 2016</title>
       <link rel="shortcut icon" href={% static "images/algosoc-logo.min.ico" %} />
       <meta charset="utf-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
       <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
       <link href={% static "Home/css/homepage.css" %}/ type="text/css" rel="stylesheet">
   </head>
   <body>
       <div class="ribbon">
       </div>
       {{key}}
   </body>
</html>